<!-- templates/registration/password_reset_form.html -->
{% extends 'userspace/base.html' %}

{% block title %}Change Your Password{% endblock %}

{% block content %}
  <h1>Password change</h1>
  <p>Password change
Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Change my password" class="btn btn-outline-danger">
  </form>
{% endblock %}