{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static '/workout/style.css' %}">
        <link href="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.css" rel="stylesheet">
        <script src="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>

    <body>

    <script>
        import {MDCDrawer} from "@material/drawer";
        const drawer = MDCDrawer.attachTo(document.querySelector('.mdc-drawer'));

        import {MDCTopAppBar} from "@material/top-app-bar";
        const topAppBar = MDCTopAppBar.attachTo(document.getElementById('app-bar'));
        topAppBar.setScrollTarget(document.getElementById('main-content'));
        topAppBar.listen('MDCTopAppBar:nav', () => {
          drawer.open = !drawer.open;
        });

        const listEl = document.querySelector('.mdc-drawer .mdc-list');
        const mainContentEl = document.querySelector('.main-content');

        listEl.addEventListener('click', (event) => {
          mainContentEl.querySelector('input, button').focus();
        });

        document.body.addEventListener('MDCDrawer:closed', () => {
          mainContentEl.querySelector('input, button').focus();
        });
    </script>

    <div>
        <header class="mdc-top-app-bar app-bar" id="app-bar">
            <div class="mdc-top-app-bar__row">
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                    <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button">menu</button>
                    <span class="mdc-top-app-bar__title"> <h1 id="kb5_log"><a href="/"> KB5 Logger </a></h1></span>
                </section>
            </div>
        </header>
        <aside class="mdc-drawer mdc-drawer--dismissible mdc-top-app-bar--fixed-adjust">
            <div class="mdc-drawer__content">
                <div class="mdc-list">
                    <a class="mdc-list-item mdc-list-item--activated" aria-current="page" href="{% url 'workouts' %}">workouts</a>
                    <a class="mdc-list-item mdc-list-item--activated" aria-current="page" href="{% url 'attendance' %}">attendance</a>
                    <a class="mdc-list-item mdc-list-item--activated" aria-current="page" href="{% url 'calendar' %}">calendar</a>
                    <a class="mdc-list-item mdc-list-item--activated" aria-current="page"
                       href="{% url 'password_change' %}">change password</a>
                    <a class="mdc-list-item mdc-list-item--activated" aria-current="page"
                       href="{% url 'user_email_change' %}">change email</a>
                    <a class="mdc-list-item mdc-list-item--activated" aria-current="page"
                       href="{% url 'logout' %}">logout</a>
                </div>
            </div>
        </aside>
    </div>
    <div class="mdc-drawer-app-content mdc-top-app-bar--fixed-adjust">
        <main class="main-content" id="main-content">
            {% block content %}
        </main>
    </div>
    {% endblock %}
    </body>
</html>