{% extends 'userspace/base.html' %}

{% block content %}
<a class="btn btn-primary" href="{% url 'drill_list' %}"><i class="fa fa-reply" aria-hidden="true"></i></a>
<div class="drill">
  <h1>
      {% if drill.form %}
        {{ drill.form }}
      {% endif %}
      {{ drill.name }}
  </h1>
  <a class="btn btn-primary" href="{% url 'drill_edit' drill_id=drill.pk %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
  <a class="btn btn-danger" href="{% url 'drill_delete' drill_id=drill.pk %}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
</div>
{% endblock %}
