{% extends 'userspace/base.html' %}

{% block content %}
<form class="" method="post">
  {% csrf_token %}
  <p>Are you sure you want to delete?</p>
  <h2>Equipment</h2>
  <p>{{ equipment.name }}</p>
  {% for property in equipment.properties.all %}
  <div class="property">
    <h2>Property</h2>
    <ul>
      <li>{{ property.name }}</li>
      <li>{{ property.unit }}</li>
      <li>{{ property.value }}</li>
      {# Button #}
    </ul>
  </div>
  {% endfor %}
  <input type="submit" class="btn btn-danger" value="Confirm">
</form>
{% endblock %}
