{% extends 'userspace/base.html' %}

{% block content %}
<div class="equipment">
  <a class="btn btn-primary" href="{% url 'equipment_list' %}"><i class="fa fa-reply" aria-hidden="true"></i></a>
  <h1>{{ equipment.name }}</h1>
  {% for property in equipment.properties.all %}
  <div class="property">
    <a href="{% url 'property_detail' property_id=property.pk equipment_id=equipment.pk %}">
      <h2>{{ property.name }} {{ property.value }}{{ property.unit }}</h2>
    </a>
  </div>
  {% endfor %}
  {# Buttons #}
  <a class="btn btn-primary" href="{% url 'equipment_edit' equipment_id=equipment.pk %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span></a>
  <a class="btn btn-danger" href="{% url 'equipment_delete' equipment_id=equipment.pk %}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
</div>
{% endblock %}
