{% extends 'userspace/base.html' %}

{% block content %}
<form method="post">
  {% csrf_token %}
  <p>Are you sure you want to delete? </p>
  <h2>Performance</h2>
  <p>Exercise: {{ performance.exercise }}</p>
  <p>Equipment: {{ performance.equipment }}</p>
  <p>Sets: {{ performance.sets }}</p>
  <p>Reps: {{ performance.reps }}</p>
  <input type="submit" class="btn btn-danger" value="Confirm">
  <a class="btn btn-primary" href="{% url 'performance_detail' performance_id=performance.pk exercise_id=performance.exercise.id workout_id=performance.exercise.workout.id %}">Cancel</a>
</form>
{% endblock %}
