{% extends 'userspace/base.html' %}

{% block content %}
  <div class="performance">
    <h1>Performance</h1>
    <ol>
      <li>Equipment: {{ performance.equipment }}</li>
      <li>Sets: {{ performance.sets }}</li>
      <li>Reps: {{ performance.reps }}</li>
    </ol>
    <a class="btn btn-primary" href="{% url 'performance_edit' performance_id=performance.pk %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span></a>
    <a class="btn btn-danger" href="{% url 'performance_delete' performance_id=performance.pk %}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
  </div>
{% endblock %}
