{% extends 'userspace/base.html' %}

{% block content %}
  <div class="performance">
    <h1>Performance</h1>
    <p>Equipment: {{ performance.equipment }}</p>
    <p>Sets: {{ performance.sets }}</p>
    <p>Reps: {{ performance.reps }}</p>
    <a class="btn btn-primary" href="{% url 'performance_edit' performance_id=performance.pk %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span></a>
    <a class="btn btn-danger" href="{% url 'performance_delete' performance_id=performance.pk %}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
  </div>
{% endblock %}
