#kb5_log{
    text-align: center;
}

#workouts h1, h2, h3 {
  color: black;
  text-align: center;
}

#workouts li {
    list-style: none;
}

#workouts li a {
    color: green;
    display: flex;
    padding: 0.5rem;
    justify-content: space-around;
}

#workouts #create_account{
    text-align: center;
}

body {
  background-color: lightblue;
  padding-left: 15px;
  font-size: 24px;
}

h1 a, h2 a, h3 a {
  color: #C25100;
}

h1, h2, h3 {
  color: black;
}

.debug {
  color: red;
}


p {
  font-family: verdana;
  font-size: 20px;
}
