body{
    font-family: 'Roboto', sans-serif;
    color: #212529;
}

body a{
    color: #212529;
}

body a:hover{
    color: #CD5C5C;
    text-decoration: none;
}

h1{
    font-family: 'Roboto Light', sans-serif;
    font-size: 60px;
    letter-spacing: -0.5px;
    font-style: light;
}

h2{
    font-family: 'Roboto Regular', sans-serif;
    font-size: 48px;
    letter-spacing: 0;
    font-style: regular;
}

h3{
    font-family: 'Roboto Regular', sans-serif;
    font-size: 34px;
    letter-spacing: 0.25;
    font-style: regular;
}

p{
    font-family: 'Roboto Regular', sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
    font-style: regular;
}

button, input{
    outline: none;
}

main {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

.app-name{
    text-align: center;
    padding: 0.5em;
    margin: 0;
}

.navbar{
    border-top: 0.1em solid #CD5C5C;
    border-bottom: 0.1em solid #CD5C5C
}

.navbar-nav {
    text-transform: uppercase;
}

.navbar-toggler:focus{
    outline: none;
}

#logo {
    width: 4em;
}

.errorlist{
    color: red;
    list-style: none;
    padding: 0;
}

#workouts li {
    list-style: none;
}

#workouts li a {
    color: green;
    display: flex;
    padding: 0.5rem;
    justify-content: space-around;
}

#workout{
    display: flex;
    flex-direction: column;
}

#excerice-view{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1em;
}

@media (max-width: 576px){
    #excerice-view{
        justify-content: normal;
        flex-direction: column;
    }
}

#workout-done{
    margin: 0 auto;
    width: 15rem;
}

#exercises li {
    list-style: none;
}

#exercises li a {
    color: green;
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
}

#exercises {
    text-align: left;
}

#workouts #create_account{
    text-align: center;
}

#login {
    text-align: center;
}

#attendance_ok {
    color: green;
}

#attendance_absent {
    color: red;
}

.debug {
  color: red;
}

.list-exercises {
    display: flex;
}