body{
    font-family: 'Roboto', sans-serif;
    color: #212529;
}

body a{
    color: #212529;
}

body a:hover{
    color: #CD5C5C;
    text-decoration: none;
}

h1{
    font-family: 'Roboto Light', sans-serif;
    font-size: 60px;
    letter-spacing: -0.5px;
    font-style: light;
}

h2{
    font-family: 'Roboto Regular', sans-serif;
    font-size: 48px;
    letter-spacing: 0;
    font-style: regular;
}

h3{
    font-family: 'Roboto Regular', sans-serif;
    font-size: 34px;
    letter-spacing: 0.25;
    font-style: regular;
}

button, input{
    outline: none;
}

.app-name{
    text-align: center;
}

.navbar{
    background-color: #CD5C5C;
}

.navbar-nav {
    text-transform: uppercase;
}

#logo {
    width: 4em;
}

p a{
    font-family: 'Roboto Regular', sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
    font-style: regular;
}

#workouts h1, h2, h3 {
  color: white;
  text-align: center;
}

#workouts li {
    list-style: none;
}

#workouts li a {
    color: green;
    display: flex;
    padding: 0.5rem;
    justify-content: space-around;
}

#exercises li {
    list-style: none;
}

#exercises li a {
    color: green;
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
}

#exercises {
    text-align: left;
}

#workouts #create_account{
    text-align: center;
}

#login {
    text-align: center;
}

#attendance_ok {
    color: green;
}

#attendance_absent {
    color: red;
}

.debug {
  color: red;
}


