{% extends 'userspace/base.html' %}
<html>
    <body>
        {% block content %}
        <div id="attendance">
            <h3>List of User attendance in KB5 class {{ user.lesson }} </h3>

            {% for training in all_trainings %}
                {% if training.id in list_user_trainings %}
                    <div id="attendance_ok">
                    <p> {{ training.id }} {{ training.date }} OK</p>
                    </div>
                {% else %}
                    <div id="attendance_absent">
                    <p> {{ training.id }} {{ training.date }} Absent</p>
                    </div>
                {% endif %}

            {% endfor %}
        </div>

        {{ calendar }}

        {% endblock %}
    </body>
</html>