<h2>Create a new workout</h2>

New workout will be created for user {{ user.username }}
<br>
Please select exercises:

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    Workout ID is {{ current_workout.id }}

    {{ exercise_form.as_p }}
    <input type="submit" value="Save" class="btn btn-md btn-secondary">

    <br>

    <h3>List of exercise for this workout</h3>

    {% for exercise in current_workout_exercises %}
      <li> {{ exercise.drill }}  </a></li>
    {% endfor %}

    <br>

<!--    {{ workout_form.as_p }}-->
<!--     <input type="submit" value="Save" class="btn btn-md btn-secondary">-->
<!--     <a class="btn btn-default" href="{% url 'home' %}"><button type="button" value="Cancel">Cancel</button></a>-->
</form>