{% extends 'userspace/base.html' %}
<html>
    <body>
        {% block content %}
            <div id="workout">
                <!--Show form if there is context with form-->
                <div id="excerice-view">
                    <div>
                        {% if exercise_form %}
                            <br>
                            Add exercise to your workout:
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ exercise_form.as_p }}
                                <input type="submit" value="Save" class="btn btn-outline-danger">
                            </form>
                        {% endif %}
                    </div>
                    <!--Show exercises for workout id-->
                    <div>
                        List of exercises for this workout:
                        {% for exercise in exercises %}
                            <a href="{% url 'exercise_edit' workout.id exercise.id %}" class="list-exercises">
                                {{ exercise.id }}
                                {{ exercise.drill.name }}
                                {{ exercise.weight }}
                                {{ exercise.repetition }}
                                {{ exercise.round }}
                                <div class="form-group mx-sm-3 mb-2">
                                    <form action="{% url 'delete_exercise' workout.id exercise.id %}" method="POST">
                                        {% csrf_token %}

                                        <input type="submit" value="Delete" class="btn btn-outline-danger btn-sm">
                                    </form>
                                </div>
                             </a>
                        {% endfor %}
                        {% if workout %}
                        <a class="btn btn-outline-danger" href="{% url 'workout_detail' workout.id %}">Add Exercise</a>
                        {% endif %}
                    </div>
                </div>
                <a href="{% url 'workouts' %}" class="btn btn-outline-danger" id="workout-done">Done</a>
            </div>
        {% endblock %}
    </body>

</html>