{% extends 'userspace/base.html' %}
<html>
    <body>
        {% block content %}
        <div id="workouts">
            <h3>List of User Workouts</h3>

                {% for workout in user_workouts %}
                  <li><a href="{% url 'workout_detail' workout.id %}"> {{ workout.id}} {{ workout.date }}

                  <form action="{% url 'delete_workout' workout.id %}" method="POST" onsubmit="return confirm('Are you sure?')">
                        {% csrf_token %}
                        <input type="submit" value="Delete" class="btn btn-outline-danger btn-sm">
                  </form>

                  </a></li>
                {% endfor %}

              <p id="create_account"><a href="{% url 'workout_detail' 'add' %}">Create new workout</a></p>
        </div>
        {% endblock %}
    </body>
</html>