{% extends 'userspace/base.html' %}
<html>
    <body>
        {% block content %}
            <!--Show form if there is context with form-->
            {% if exercise_form %}
                <br>
                Add exercise to your workout:
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ exercise_form.as_p }}
                    <input type="submit" value="Save" class="btn btn-md btn-secondary">
                </form>
            {% endif %}

            <!--Show exercises for workout id-->
            <div id="exercises" >
            List of exercises for this workout:
            {% for exercise in exercises %}
                <li><a href="{% url 'exercise_edit' workout.id exercise.id %}">
                    {{ exercise.id }}
                    {{ exercise.drill.name }}
                    {{ exercise.weight }}
                    {{ exercise.repetition }}
                    {{ exercise.round }}

                    <form action="{% url 'delete_exercise' workout.id exercise.id %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Delete" class="btn btn-md btn-secondary">
                    </form>
                </a>
                </li>
            {% endfor %}
            </div>

            {% if workout %}
            <a class="btn btn-md btn-secondary" href="{% url 'workout_detail' workout.id %}">Add Exercise</a>
            {% endif %}

            <br>
            <a href="{% url 'workouts' %}" class="btn btn-md btn-secondary" >Done</a>
        {% endblock %}
    </body>

</html>