{% extends 'userspace/base.html' %}
<html>
    <body>
        {% block content %}
            <div id="workout">
                <!--Show form if there is context with form-->
                <div id="excerice-view">
                    <div>
                        {% if exercise_form %}
                            <h5> Add exercise to your workout: </h5>
                            <form method="POST" enctype="multipart/form-data">
                                <div>
                                    {% csrf_token %}
                                    {{ exercise_form.as_p }}
                                    <input type="submit" value="Save" class="btn btn-outline-danger">
                                </div>
                            </form>
                        {% endif %}
                        <a href="{% url 'workouts' %}" class="btn btn-outline-danger" id="workout-done">Done</a>
                    </div>
                    <!--Show exercises for workout id-->
                    <div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Exercise</th>
                                        <th scope="col">Weight Kg</th>
                                        <th scope="col">Reps</th>
                                        <th scope="col">Rounds</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for exercise in exercises %}
                                    <tr>
                                        <td>{{ exercise.drill.name }}</td>
                                        <td>{{ exercise.weight }}</td>
                                        <td>{{ exercise.repetition }}</td>
                                        <td>{{ exercise.round }}</td>
                                        <td>
                                            <form action="{% url 'delete_exercise' workout.id exercise.id %}" method="POST" onsubmit="return confirm('Are you sure?')">
                                                {% csrf_token %}
                                                <input type="submit" value="Delete" class="btn btn-outline-danger btn-sm">
                                                <a href="{% url 'exercise_edit' workout.id exercise.id %}" class="btn btn-outline-danger btn-sm">Edit</a>
                                            </form>
                                        </td>
                                    </tr>
<!--                                    <a href="{% url 'exercise_edit' workout.id exercise.id %}" class="list-exercises">-->
<!--                                        <div class="form-group mx-sm-3 mb-2">-->
<!--                                            <form action="{% url 'delete_exercise' workout.id exercise.id %}" method="POST">-->
<!--                                                {% csrf_token %}-->

<!--                                                <input type="submit" value="Delete" class="btn btn-outline-danger btn-sm">-->
<!--                                            </form>-->
<!--                                        </div>-->
<!--                                     </a>-->
                                {% endfor %}
                            </table>
                        </div>
                        {% if workout %}
                        {% endif %}
                    </div>
                </div>
<!--                <a href="{% url 'workouts' %}" class="btn btn-outline-danger" id="workout-done">Done</a>-->
            </div>
        {% endblock %}
    </body>

</html>